<p>Destination: <%= @trip.destination %>

<p><%= @trip.description %>

<p> Visited: <%= @trip.date %> <br>
<form method="post" action="/trips/<%=@trip.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Trip">
</form>
<br>

<a href="/trips/<%=@trip.id%>/edit">Edit Trip </a>