<p><%= @souvenir.souvenirname %>

<form method="post" action="/souvenirs/<%=@souvenir.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Souvenir">
</form>

<br>
<a href="/souvenirs/<%=@souvenir.id%>/edit">Edit Souvenir</a>

<br>

<p>From <%= @trip.destination %></p>
<p> <a href="/trips/<%=@trip.id%>"> View trip </a></p>